.block
  .secondary-navigation
    %ul.wat-cf
      %li.first
        = link_to "#{t("web-app-theme.list", :default => "List")}", <%= controller_routing_path %>_path
      %li
        = link_to "#{t("web-app-theme.new", :default => "New")}", new_<%= singular_controller_routing_path %>_path
      %li.active
        = link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_<%= singular_controller_routing_path %>_path
  .content
    %h2.title
      = t("web-app-theme.edit", :default => "Edit")
      = model_name
    .inner
      = render :partial => "form"

content_for :sidebar, render(:partial => 'sidebar')
