- semantic_form_for @<%= resource_name %>, :url => @<%= resource_name %>.new_record? ? <%= controller_routing_path %>_path : <%= singular_controller_routing_path %>_url(:id => @<%= resource_name %>)  do |f|
  = f.error_messages
  - f.inputs do
  <%- columns.each do |column| -%>
    .group= f.input :<%=column.name%>
  <%- end -%>
  = f.submit :save.t, :confirm => :are_you_sure?.t
  = :or.t
  = link_to :back_to_list.t, <%= controller_routing_path %>_path
  
